-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th{:class => hilight('title')}
        %a#title_header{:href => movies_path({:order => 'title'})} Movie Title
      %th{:class => hilight('rating')}
        %a{:href => movies_path({order:  'rating'})} Rating
      %th{:class => hilight('release_date')}
        %a#release_date_header{:href => "#{movies_path}?order=release_date"} Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
